{
  "twitter_consumer_key": "xxxxxxxxxxx",
  "twitter_consumer_secret": "xxxxxxxxxxx",
  "twitter_access_token_key": "xxxxxxxxxxx",
  "twitter_access_token_secret": "xxxxxxxxxxx",
  "pocket_feed_url": "http://getpocket.com/users/xxxxxx/feed/all",
  "pocket_consumer_key": "xxxxxxxxxxx",
  "pocket_access_token": "xxxxxxxxxxx"
}
